[user]
  email = jiao1751959040@gmail.com
  name = jiaoshijie
[core]
  editor=vim
  autocrlf = input
  safecrlf = true
  excludesfile = ~/dots/git/gitignore_global
  pager = delta
[interactive]
  diffFileter = delta --color-only
[add.interactive]
  useBuiltin = false
[diff]
  tool = vimdiff
  submodule = log
  algorithm = histogram
  indentHeuristic = true
  colorMoved = default
[init]
  defaultBranch = main
[help]
  autocorrect = 1
[delta]
  navigate = true
  light = false
[merge]
  tool = vimdiff
  conflictStyle=diff3
