[user]
  email = jiao1751959040@gmail.com
  name = jiaoshijie
[core]
  editor=vim
  autocrlf = input
  safecrlf = true
  excludesfile = ~/.config/gitignore_global
  pager = delta
; [includeIf "gitdir:~/work/"]
;   path = ~/work/.gitconfig
[interactive]
  diffFileter = delta --color-only
[commit]
  template = ~/.config/gitmessage
[alias]
  ; ignored = !git ls-files -v | grep "^[[:lower:]]"
[merge]
  ; tool = vimdiff
  conflictstyle = diff3
[diff]
  colorMoved = default
[mergetool "vimdiff"]
  cmd = vimdiff -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[init]
  defaultBranch = main
[help]
  autocorrect = 1
[delta]
  navigate = true
