# ignore everything
/*
/*/
!/.config
/.config/*
.config/ranger/plugins/compress.py
.config/ranger/plugins/extract.py

# but these:
!/README.md
!/.gitignore
!/.gitconfig
!/.Xmodmap
!/.xprofile
!/.Xresources
!/.zshrc
!/.config/alacritty/
!/.config/fish/
!/.config/i3/
# !/.config/llpp.conf
!/.config/neofetch/
!/.config/polybar/
!/.config/ranger/
/.config/ranger/plugins/__pycache__/*
/.config/ranger/colorschemes/__pycache__/*
!/.tmux.conf
!/.xinitrc
!/.zprofile
!/.bashrc
!/.dwm/
