[user]
	email = jiao1751959040@gmail.com
	name = jiaoshijie
[core]
  editor=nvim
	autocrlf = input
	safecrlf = true
  excludesfile = ~/.config/gitignore_global
[credential]
	helper = store
; [includeIf "gitdir:~/work/"]
;   path = ~/work/.gitconfig
[commit]
  template = ~/.config/gitmessage
[alias]
  ignored = !git ls-files -v | grep "^[[:lower:]]"
[merge]
  tool = vimdiff
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
