# ignore everything
/*
/*/
!/.config
/.config/*
!/.local
/.local/*
!/.local/share
/.local/share/*
.config/ranger/plugins/compress.py
.config/ranger/plugins/extract.py
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/ncmpcpp/error.log
.config/calcurse/hooks/
.config/shell/.zcompdump
.config/shell/plugins

# but these:
!/README.md
!/.gitignore
!/.gitconfig
!/.Xmodmap
!/.Xmodmap_normal
!/.xprofile
!/.Xresources
!/.config/shell/
!/.config/alacritty/
!/.config/fish/
!/.config/i3/
# !/.config/llpp.conf
!/.config/neofetch/
!/.config/polybar/
!/.config/ranger/
/.config/ranger/__pycache__/*
/.config/ranger/plugins/__pycache__/*
/.config/ranger/colorschemes/__pycache__/*
!/.tmux.conf
!/.xinitrc
!/.zprofile
!/.bashrc
!/.config/my_script/
!/.config/mpv/
!/.config/mpd/
!/.config/ncmpcpp/
!/.config/sxhkd/
!/.config/dunst/
!/.config/newsboat/
!/.config/calcurse/
!.aliasrc
!/.config/mimeapps.list
!/.config/gitmessage
!/.config/gitignore_global
!/.fonts.conf
!/.config/i3blocks
!/.config/rofi
!/.config/lf
!/.config/kitty
!/.zshrc
