! -------* Xft配置 *--------!
Xft.dpi:                          96
Xft.antialias:                    true
Xft.hinting:                      true
Xft.rgba:                         rgb
Xft.autohint:                     false
Xft.hintstyle:                    hintslight
Xft.lcdfilter:                    lcddefault

*background:                      #25252c
*foreground:                      #ffffff
*cursorColor:                     #ffffff
*fading:                          8
*fadeColor:                       black
*pointerColorBackground:          #2B2C2B
*pointerColorForeground:          #16A085

/* name    dark light */
/* black     0    8   */
/* red       1    9   */
/* green     2    10  */
/* yellow    3    11  */
/* blue      4    12  */
/* purple    5    13  */
/* cyan      6    14  */
/* white     7    15  */

*.color0:                     #181818
*.color1:                     #ab4642
*.color2:                     #a1b56c
*.color3:                     #f7ca88
*.color4:                     #7cafc2
*.color5:                     #ba8baf
*.color6:                     #86c1b9
*.color7:                     #d8d8d8
*.color8:                     #585858
*.color9:                     #ab4642
*.color10:                    #a1b56c
*.color11:                    #f7ca88
*.color12:                    #7cafc2
*.color13:                    #ba8baf
*.color14:                    #86c1b9
*.color15:                    #f8f8f8

! --------* ROFI Color theme 配置 *--------!
rofi.color-enabled:              true
rofi.color-window:               #393939, #393939, #268bd2
rofi.color-normal:               #393939, #ffffff, #393939, #268bd2, #ffffff
rofi.color-active:               #393939, #268bd2, #393939, #268bd2, #205171
rofi.color-urgent:               #393939, #f3843d, #393939, #268bd2, #ffc39c
